
<div class="center-horiz">
  <h2>&#128081;</h2>
  <h1>The Throne Room	</h1>
  <h6>It's the next big movement</h6>
</div>
<div class="navbar">
  <% if current_user %>
    <p><%= link_to "Create New Throne Room", "/thrones/new"%></p>
    <% end %>
  <% if !current_user %>
    <%= button_to 'Login', 'auth/google_oauth2', method: :get %>
  <% else %>
    <%= button_to 'Logout', '/logout', method: :delete %>
  <% end %>
</div>

 <!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 50%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      var marker;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 39.7392, lng: -104.9903},
          // 39.7392° N, 104.9903° W
          zoom: 8
        });
        var features = [];
        '<%@thrones.each do |throne| %>'
            features.push(new google.maps.LatLng('<%=throne.lat%>', '<%=throne.long%>'))
          '<% end %>'
      var count = '<%=@thrones.count%>'
      for (let i = 0; i < count; i++) {
        marker = new google.maps.Marker({
          position: features[i],
          map: map,
          icon: "https://user-images.githubusercontent.com/102835975/191607644-2d8ce642-e06b-4531-9924-df10d46c2bd4.png",
    });}
  
      } window.initMap = initMap;
  
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["map_api_key"]%>&callback=initMap">
    </script>
  </body>
</html>
<div class="wrapper">
<br>
<h4>&#128701;<u> Existing Thrones</u> &#128701;</h4>
<% @thrones.each do |throne| %>
  <h6> Located at: <%= throne.name.upcase %> </h6>
  <h6> Address: <%= throne.address.upcase %> </h6>
  <h6> Directions: <%= throne.directions %> </h6>
  <h6> <%= link_to "More Information", "/thrones/#{throne.id}" %> </h6>
  <br>
<% end %>
</div>
  <div class="row justify-content-md-center">
    <div class="pad-25-top pad-25-bottom">
      <div class="img">
        <%= image_tag("crown-clip-art-18.png") %>
      </div>
    </div>
  </div>






