<h1>Register a new Throne</h1>
<%= form_with url: "https://the-throne-room-api.herokuapp.com/api/v1/throne_rooms", method: :post, local: true do |form| %>
  <p><%= form.label "Location" %>
  <%= form.text_field "Location" %></p>
  <p><%= form.label "Directions" %>
  <%= form.text_field "Directions" %></p>
  <p><%= form.label "Baby changing station?" %>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
    <label class="form-check-label" for="flexRadioDefault2">
      No
    </label>
  </div><br>
  <p><%= form.label "Throne Style" %>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      gender-neutral
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
    <label class="form-check-label" for="flexRadioDefault2">
      multi-stall (F)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" >
    <label class="form-check-label" for="flexRadioDefault3">
      multi-stall (M)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" >
    <label class="form-check-label" for="flexRadioDefault4">
      single-stall (F)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5" >
    <label class="form-check-label" for="flexRadioDefault5">
      single-stall (M)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6" >
    <label class="form-check-label" for="flexRadioDefault6">
      porta-potty
    </label>
  </div><br>
  <p><%= form.label "Key Code?" %>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Yes
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
    <label class="form-check-label" for="flexRadioDefault2">
      No
    </label>
  </div><br>
  <p><%= form.submit "Register New Throne" %>
<% end %>