<h1><%=@throne.name%> Restroom</h1>
<h3>Address: <%= @throne.address %></h3>
<h3>Directions: <%= @throne.directions %></h3>
<h3>Does it have a Babychanging station: <%= @throne.babystation %></h3>
<h3>Bathroom Style: <%= @throne.bathroomstyle %></h3>
<h3>Does it require a keycode: <%= @throne.keycode %></h3>