
<div class="bgd-image">
<% if current_user %>
        <p><%= link_to "Create New Review", "/thrones/#{@throne.id}/reviews/new"%></p>
<% end %>
<div class="center-horiz">
    <h1><%=@throne.name.upcase%> Restroom</h1>
    </div>
    <div class="center">
    <h6>Address: <%= @throne.address.upcase %></h6>
    <h6>Directions: <%= @throne.directions %></h6>
    <h6>Baby-changing station: <%= @throne.babystation %></h6>
    <h6>Bathroom Style: <%= @throne.bathroomstyle %></h6>
    <h6>Keycode Required: <%= @throne.keycode %></h6>
    </div>
</div>